html{
    font-family: cursive;
}
li{
    margin:10px ;
}

body {
    background-color: lightblue
    ;
}
h1 {
    color:blue
    ;
} 
body {
    color:black
    
}
li:hover{
    background-color: lightgreen;
}
span{
    color:red;
}
pomodoro-estimate{
    color:red;
    font-weight: bold
    font-size:14px;
    background-color: #F5F5F5;
    padding: 5px 10px 5px 10px;
    border-radius: 50px
}
li{
    padding:5px;
    margin-bottom:10px;
}










